<nav class="navbar">
    <div class="container-fluid col-6">
      <form class="d-flex input-group" [formGroup]="searchForm">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Ara"
          aria-label="Search"
          aria-describedby="search-addon"
          formControlName="search"
          [(ngModel)]="searchValue"
          (ngModelChange)="detect()"
        />
      </form>
    </div>
    <div class="container-fluid col-6 justify-content-end">
      <div id="dateRangeApp">
      <div class="d-flex" >
      <mat-form-field >
        <mat-label>Tarih aralığı giriniz</mat-label>
        <mat-date-range-input [rangePicker]="dateRangePicker">
          <input matStartDate placeholder="Başlangıç" [(ngModel)]="startDate">
          <input matEndDate placeholder="Bitiş"  [(ngModel)]="endDate" (dateChange)="dateRangeChange()">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix  [for]="dateRangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
      </mat-form-field>
      <button mat-icon-button color="warn" type="button" (click)="clearDates()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    </div>
  </div>
    </nav>