<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Şifremi Unuttum</h1>
        </div>
        <div class="modal-body p-5 pt-0">
            <div class="form-floating mb-3">
              <input #txtEmail type="email" class="form-control rounded-3" id="email" placeholder="name@example.com">
              <label for="email">Email</label>
              <small></small>
            </div>
            <div class="text-center">
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" (click)="passwordReset(txtEmail.value)">Gönder</button>
            <hr class="my-4">
            <button class="w-50 mb-2 btn btn-lg rounded-3 btn-secondary" type="submit" (click)="cancel()">İptal</button>
          </div>
        </div>
      </div>
    </div>
</div>